---
import Discord from "./icons/socialnetworks/Discord.astro";
import Github from "./icons/socialnetworks/Github.astro";
import TextSpam from "./text/TextSpam.astro";
---

<footer
  class="max-w-[1440px] flex justify-between p-5 items-center mx-auto mt-[150px]"
>
  <figure>
    <img class="w-40" src="../public/logo.svg" alt="" />
  </figure>
  <div class="flex gap-9 items-center">
    <a
      class="font-normal text-[#889e] hover:text-[#ddd] hover:underline"
      href="#">CorreoExample@gmail.com</a
    >
    <a
      class="font-normal text-[#889e] hover:text-[#ddd] hover:underline"
      href="#">809-120-5343</a
    >
    <div class="flex gap-3 items-center">
      <Discord href="https://discord.com/" />
      <Github href="https://github.com/Sigmaprogram" />
    </div>
  </div>
</footer>
<hr class="max-w-[1440px] mx-auto border-[#ffffff26]" />

<div class="p-5 max-w-[1440px] mx-auto flex justify-between">
  <div class="flex gap-11 items-center">
    <a class="font-medium text-[#889e] hover:text-[#ddd] text-[14px]" href="#"
      >Home</a
    >
    <a class="font-medium text-[#889e] hover:text-[#ddd] text-[14px]" href="#"
      >About</a
    >
    <a class="font-medium text-[#889e] hover:text-[#ddd] text-[14px]" href="#"
      >Tech Stack</a
    >
    <a class="font-medium text-[#889e] hover:text-[#ddd] text-[14px]" href="#"
      >Proyects</a
    >
    <a class="font-medium text-[#889e] hover:text-[#ddd] text-[14px]" href="#"
      >Contact</a
    >
  </div>
  <div>
    <p class="text-[#ddda]">
      Designed and built <TextSpam>by Kervin Leonardo</TextSpam>with<TextSpam
        >Love</TextSpam
      >&<TextSpam>Coffee.</TextSpam>
    </p>
  </div>
</div>
