---
import Boostrap from "./icons/stack/Boostrap.astro";
import Css from "./icons/stack/Css.astro";
import Html from "./icons/stack/Html.astro";
import Javascript from "./icons/stack/Javascript.astro";
import Reat from "./icons/stack/Reat.astro";
import Tailwind from "./icons/stack/Tailwind.astro";
---

<div class="max-w-[1440px] flex flex-col items-center mx-auto mt-[150px] gap-1">
  <h3 class="text-white font-bold text-[40px]" id="techstack">My Tech Stack</h3>
  <p class="text-gray-500 font-medium">
    Technologies I’ve been working with recently
  </p>
  <ul class="flex flex-wrap gap-12 p-12 items-center justify-center">
    <li class="hover:scale-105 transition-all"><Html /></li>
    <li class="hover:scale-105 transition-all"><Css /></li>
    <li class="hover:scale-105 transition-all"><Javascript /></li>
    <li class="hover:scale-105 transition-all"><Tailwind /></li>
    <li class="hover:scale-105 transition-all"><Boostrap /></li>
    <li class="hover:scale-105 transition-all"><Reat /></li>
  </ul>
</div>
